@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 48px;
}

code {
	border-radius: 12px;
	background-color: #111;
	display: block;
	padding: 24px;
}
